In [32]:
import pandas as pd

### importar dados e visualizar

In [33]:
import os
print(os.getcwd())

c:\Users\ead\Desktop\BRENDA_EV

In [36]:

url = "datasets/scores.csv"

In [52]:
pd.read_csv(url)

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

In [38]:
url = "datasets/scores.csv"
dados = pd.read_csv(url,sep =";")
dados

   number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0         condition_1,11,2,35-39,2,2,2,6-10,1,2,19,19
1         condition_2,18,2,40-44,1,2,2,6-10,2,2,24,11
2         condition_3,13,1,45-49,2,2,2,6-10,2,2,24,25
3        condition_4,13,2,25-29,2,2,2,11-15,1,1,20,16
4        condition_5,13,2,50-54,2,2,2,11-15,2,2,26,26
5          condition_6,7,1,35-39,2,2,2,6-10,1,2,18,15
6       condition_7,11,1,20-24,1,NA,2,11-15,2,1,24,25
7        condition_8,5,2,25-29,2,NA,2,11-15,1,2,20,16
8        condition_9,13,2,45-49,1,NA,2,6-10,1,2,26,26
9         condition_10,9,2,45-49,2,2,2,6-10,1,2,28,21
10       condition_11,14,1,45-49,2,2,2,6-10,1,2,24,24
11       condition_12,12,2,40-44,1,2,2,6-10,2,2,25,21
12      condition_13,14,2,35-39,1,2,2,11-15,2,2,18,13
13       condition_14,14,1,60-64,1,2,2,6-10,2,2,28,19
14      condition_15,13,2,55-59,2,2,2,11-15,1,1,14,18
15      condition_16,16,1,45-49,2,2,2,11-15,1,2,13,17
16       condition_17,13,1,50-54,1,2,2,6-10,1,2,17,15
17      condition_18,13,2,40-44,3,2,2,11-15,2,2,18,15
18      condition_19,13,2,50-54,2,2,1,16-20,2,2,26,21
19       condition_20,13,1,30-34,2,1,1,6-10,1,2,27,25
20       condition_21,13,2,35-39,2,2,1,6-10,2,2,26,21
21          condition_22,14,1,65-69,2,2,1, ,2,2,29,28
22      condition_23,16,1,30-34,2,2,1,16-20,2,2,29,23
23          control_1,8,2,25-29,NA,NA,NA,,NA,NA,NA,NA
24        control_2,20,1,30-34,NA,NA,NA, ,NA,NA,NA,NA
25        control_3,12,2,30-34,NA,NA,NA, ,NA,NA,NA,NA
26        control_4,13,1,25-29,NA,NA,NA, ,NA,NA,NA,NA
27        control_5,13,1,30-34,NA,NA,NA, ,NA,NA,NA,NA
28        control_6,13,1,25-29,NA,NA,NA, ,NA,NA,NA,NA
29        control_7,13,1,20-24,NA,NA,NA, ,NA,NA,NA,NA
30        control_8,13,2,40-44,NA,NA,NA, ,NA,NA,NA,NA
31        control_9,13,2,30-34,NA,NA,NA, ,NA,NA,NA,NA
32        control_10,8,1,30-34,NA,NA,NA, ,NA,NA,NA,NA
33       control_11,13,1,45-49,NA,NA,NA, ,NA,NA,NA,NA
34       control_12,14,1,60-64,NA,NA,NA, ,NA,NA,NA,NA
35        control_13,13,1,50-54,NA,NA,NA,,NA,NA,NA,NA
36       control_14,13,1,50-54,NA,NA,NA, ,NA,NA,NA,NA
37       control_15,11,1,45-49,NA,NA,NA, ,NA,NA,NA,NA
38       control_16,13,2,40-44,NA,NA,NA, ,NA,NA,NA,NA
39        control_17,9,1,45-49,NA,NA,NA, ,NA,NA,NA,NA
40       control_18,13,2,20-24,NA,NA,NA, ,NA,NA,NA,NA
41       control_19,13,1,50-54,NA,NA,NA, ,NA,NA,NA,NA
42       control_20,13,1,35-39,NA,NA,NA, ,NA,NA,NA,NA
43        control_21,8,1,50-54,NA,NA,NA, ,NA,NA,NA,NA
44       control_22,13,1,25-29,NA,NA,NA, ,NA,NA,NA,NA
45       control_23,13,1,20-24,NA,NA,NA, ,NA,NA,NA,NA
46       control_24,13,2,20-24,NA,NA,NA, ,NA,NA,NA,NA
47       control_25,13,1,65-69,NA,NA,NA, ,NA,NA,NA,NA
48       control_26,13,1,35-39,NA,NA,NA, ,NA,NA,NA,NA
49       control_27,13,2,50-54,NA,NA,NA, ,NA,NA,NA,NA
50       control_28,16,2,45-49,NA,NA,NA, ,NA,NA,NA,NA
51       control_29,13,2,50-54,NA,NA,NA, ,NA,NA,NA,NA
52        control_30,9,2,35-39,NA,NA,NA, ,NA,NA,NA,NA
53       control_31,13,1,20-24,NA,NA,NA, ,NA,NA,NA,NA
54       control_32,14,2,25-29,NA,NA,NA, ,NA,NA,NA,NA

In [57]:
dados.head(10)

  number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0        condition_1,11,2,35-39,2,2,2,6-10,1,2,19,19
1        condition_2,18,2,40-44,1,2,2,6-10,2,2,24,11
2        condition_3,13,1,45-49,2,2,2,6-10,2,2,24,25
3       condition_4,13,2,25-29,2,2,2,11-15,1,1,20,16
4       condition_5,13,2,50-54,2,2,2,11-15,2,2,26,26
5         condition_6,7,1,35-39,2,2,2,6-10,1,2,18,15
6      condition_7,11,1,20-24,1,NA,2,11-15,2,1,24,25
7       condition_8,5,2,25-29,2,NA,2,11-15,1,2,20,16
8       condition_9,13,2,45-49,1,NA,2,6-10,1,2,26,26
9        condition_10,9,2,45-49,2,2,2,6-10,1,2,28,21

In [58]:
dados.tail(10)

   number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
45       control_23,13,1,20-24,NA,NA,NA, ,NA,NA,NA,NA
46       control_24,13,2,20-24,NA,NA,NA, ,NA,NA,NA,NA
47       control_25,13,1,65-69,NA,NA,NA, ,NA,NA,NA,NA
48       control_26,13,1,35-39,NA,NA,NA, ,NA,NA,NA,NA
49       control_27,13,2,50-54,NA,NA,NA, ,NA,NA,NA,NA
50       control_28,16,2,45-49,NA,NA,NA, ,NA,NA,NA,NA
51       control_29,13,2,50-54,NA,NA,NA, ,NA,NA,NA,NA
52        control_30,9,2,35-39,NA,NA,NA, ,NA,NA,NA,NA
53       control_31,13,1,20-24,NA,NA,NA, ,NA,NA,NA,NA
54       control_32,14,2,25-29,NA,NA,NA, ,NA,NA,NA,NA

### Quantidade de linhas e colunas

In [43]:
dados.shape

(55, 1)

### Quantidade de informaçoes

In [44]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 1 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2  55 non-null     object
dtypes: object(1)
memory usage: 572.0+ bytes

### Tipagem

In [42]:
type(url)

str

### Explorar as diferentes colunas existentes

In [53]:
dados.columns

Index(['number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2'], dtype='object')

### Selecionar somente uma coluna

In [59]:
dados['edu']

KeyError: 'edu'

In [ ]:
dados[['nomecoluna,nomeoutracoluna']]

Entrega para o gerente de projetos
Treelo Post-it concluido
Entrega no github